@charset "utf-8";
/* CSS Document */

.search-box{
	position: absolute;
	top: 8%;
	left: 2%;
	transform: translate(0%,-50%); /**/
	background: #D0A4A4;
	height: 30px;
	border-radius: 40px; /**/
	padding: 10px;
}
.search-btn{
	color: #e84118;
	float: right ;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #D0A4A4;
	border: 1px red solid;
}
.search-box:hover .search-btn{
   background: white;
}
.search-txt{
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: white;
	font-size: 16px;
	transition: 0.4s;
	line-height: 30px;
	width: 0px;
}
.search-box:hover .search-txt{
	width: 240px;
	padding: 0 6px;
}
